body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #bddfef;
  color: #010008;
}

header {
  background: #0c0129;
  color: #fff;
  text-align: center;
  padding: 20px;
}

nav {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

section {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
}

#about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.profile-pic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #111;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  margin-top: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

ul {
  line-height: 1.8;
}

footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
